textarea {
  border-style: dotted;
  border-width: 5px;
}

input[type="email"],
input[type="submit"] {
  border: 1px;
  padding: 0.5em 2em;
  margin: 1em 0.5em;
}

input[type="submit"]:hover {
  transition: 1s;
}
