p {
  margin: 0.5em 1em;
  line-height: 150%;
  padding: 1em 0.5em;
}

a {
  outline: none;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 5px;
}

aside p.center-text {
  padding-top: 0em;
}

header nav ul,
footer ul,
small {
  margin: 1em;
}

div p a,
footer p a {
  border-style: dotted;
}

h1,
aside h2.center-text {
  margin-top: 1.3em;
  margin-bottom: 0em;
}

footer h2.center-text {
  margin: 0;
  padding-top: 1.3em;
}

.list-item {
  list-style-type: none;
  display: inline;
  margin: 0.4em;
  padding: 0.3em;
}

.b-akyuz-logo {
  max-width: 17%;
  min-width: 61.69px;
  position: relative;
  top: 0.3em;
  left: 1em;
}

img.profile-photo-layout {
  max-width: 350px;
  margin: 1em;
  border-style: dotted;
  border-width: 6px;
}

.logo-style {
  max-width: 8em;
  margin: 0.7em;
}

.h3-portfolio {
  display: inline-block;
  position: relative;
  left: 1em;
  bottom: 1.2em;
  margin: 0;
}

.link-box-shadow {
  box-shadow: 6px 4px 4px var(--dark-highlight-color);
}

.hide-menu {
  display: none;
}

a:hover {
  transition: 0.5s;
}
